In [99]:
import pandas as pd
import numpy as np

In [ ]:
dates = pd.date_range("20130101", periods=4)

b = pd.DataFrame({
    "A": ["1.0","2.2","0.4","1.4"] ,
    "B": pd.Timestamp("20231012"),
    "C": pd.Series(1, index = list(range(4)), dtype = "float32"),
    "D": pd.Categorical(["test","train","test","train"])
}, index = dates)
print(b)

In [ ]:
#View the top and the bottom of the data frame
print(b.head())
print(b.tail())

In [ ]:
#View the Index and Column of the data frame
print(b.index)
print(b.columns)

In [ ]:
#DataFrame to Numpy
c = b.to_numpy()
print(c)

In [ ]:
pd[0:3] #Slices rows 0,1,2
pd[index1:index2] #Slices rows from index1 to index2
pd.loc[index[0]] #Slices the index[0]th row
pf.loc[:,["COL1","COL2"]]

pd.iloc[:,:]
pd.iloc[[1,2],[3,4]]

In [94]:
print(b.dtypes)
print(b.describe())
print(b.sort_index())
print(b.sort_values(by="A"))

A            object
B    datetime64[ns]
C           float32
D          category
dtype: object
         C
count  0.0
mean   NaN
std    NaN
min    NaN
25%    NaN
50%    NaN
75%    NaN
max    NaN
              A          B   C      D
2013-01-01  1.0 2023-10-12 NaN   test
2013-01-02  2.2 2023-10-12 NaN  train
2013-01-03  0.4 2023-10-12 NaN   test
2013-01-04  1.4 2023-10-12 NaN  train
              A          B   C      D
2013-01-03  0.4 2023-10-12 NaN   test
2013-01-01  1.0 2023-10-12 NaN   test
2013-01-04  1.4 2023-10-12 NaN  train
2013-01-02  2.2 2023-10-12 NaN  train

In [138]:
df = pd.DataFrame(np.random.randn(4, 4), index=dates, columns=list("ABCD"))
df2 = df.copy()
df2["E"] = ['One','One','Two','Three']
df2[df2["E"].isin(["Two","Three"])]

                   A         B         C         D      E
2013-01-03  0.113806 -0.170697 -0.629457 -0.506994    Two
2013-01-04 -0.115180 -0.395145  0.081067 -0.186861  Three

In [131]:
print(df2)

                   A         B         C         D      E
2013-01-01  0.000000  0.000000 -0.768962  0.784294    One
2013-01-02  0.047697  1.126047  1.138472 -1.876270    One
2013-01-03  1.702794 -0.042756  0.000000 -0.466007    Two
2013-01-04 -0.660658 -0.384995  0.558845 -1.674178  Three

In [120]:
df2.at[dates[0], "A"] = 0

In [133]:
df2.iat[0,1] = 0
print(df2)

                   A         B         C         D      E
2013-01-01  0.000000  0.000000 -0.768962  0.784294    One
2013-01-02  0.047697  1.126047  1.138472 -1.876270    One
2013-01-03  1.702794 -0.042756  0.000000 -0.466007    Two
2013-01-04 -0.660658 -0.384995  0.558845 -1.674178  Three

In [136]:
df[df > 0] = -df

                   A         B         C         D
2013-01-01 -0.568036 -0.992038 -0.768962 -0.784294
2013-01-02 -0.047697 -1.126047 -1.138472 -1.876270
2013-01-03 -1.702794 -0.042756 -0.126760 -0.466007
2013-01-04 -0.660658 -0.384995 -0.558845 -1.674178